<html>
    {% load static %}
    <head>
        <title>background</title>
        <style>
            body {
                background-image: url("{% static 'image/babin.jpg' %}");
           
           background-size: cover;
              
            }
            img{
                margin:right;
                width:40px;
                margin-top:150px;
                
            }
            </style>
            
    </head>
 <body>
      <h1 style="text-align: center;color:red;"> JOTHILAKSHIMI NURSERY GARDEN</h1>
         <p><img src="{% static 'image/contact.jpeg' %}"></p>
         <h1 style="color: red;"> <p>Contact this address</h1>
         </p>
        <h2 style="color:rgb(0, 106, 255)"><p>1551/2, Babu garden,<br>Azhagapuram Main road,
        <br> Siluvaicheri.<br>Andimadam(Tk)</b><br>Tmail Nadu
        <br>Phone no:9865781157,8148612957<br>Pin code:608 901</p></h2>
         

                                    
        



    </body>
</html>